# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
!pip install -U scipy

Requirement already satisfied: scipy in c:\users\franc\anaconda3\lib\site-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\franc\anaconda3\lib\site-packages (from scipy) (1.24.3)

In [2]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
data= pd.read_csv('Salaries.csv')

C:\Users\franc\AppData\Local\Temp\ipykernel_14180\105719882.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv('Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [5]:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [6]:
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [7]:
data= data.drop('Notes', axis= 1)
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [8]:
value_counts = data['Status'].value_counts(dropna=False)
print(value_counts)

Status
NaN    110535
FT      22334
PT      15785
Name: count, dtype: int64

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [9]:
data= data.dropna(subset='Status')

In [10]:
data['Status'].isna().sum()

0

Check out the types of each column and see if they make sense.

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [12]:
# Your code here

Do any type conversions and reset the index.

In [13]:
data['OtherPay']= data['OtherPay'].astype(float)
data['OvertimePay']=data['OvertimePay'].astype(float)
data['BasePay']=data['BasePay'].astype(float)
data['BasePay'] = pd.to_numeric(data['BasePay'], errors='coerce')

In [14]:
data['OtherPay'].isna().sum()
data['OvertimePay'].isna().sum()
data['BasePay'].isna().sum()
data['BasePay'].isna().sum()

0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  float64
 4   OvertimePay       38119 non-null  float64
 5   OtherPay          38119 non-null  float64
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(5), int64(2), object(5)
memory usage: 3.8+ MB

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [16]:
numerical_columns= ['BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPayBenefits']

for column in numerical_columns:
    data[column]=pd.to_numeric(data[column], errors= 'coerce')

data['TotalPayBenefitsCheck']= data['BasePay'] + data['OvertimePay'] + data['OtherPay'] + data['Benefits']

data['TotalPayBenefitsCheck']= data['TotalPayBenefitsCheck'] == data['TotalPayBenefits']

if data['TotalPayBenefitsCheck'].all():
    print(True)
else:
    print(False)

False

What is the percetage of employees for which the previous assumption is not True?

In [17]:
percentage_true = (data['TotalPayBenefitsCheck'].sum() / data.shape[0]) * 100

print(f"The percentage of employees for whom the check is True is: {percentage_true:.2f}%")

The percentage of employees for whom the check is True is: 73.71%

There are different departments in the city. List all departments and the count of employees in each department.

In [18]:
data['Department'] = data['JobTitle'].str.split('-').str[1].str.strip()

department_counts = data['Department'].value_counts()

print(department_counts)

Department
Public Works            916
Asst to Prof            218
Senior                  216
Principal               176
Journey                  60
Environmental Review     43
Ray Laboratory Aide      35
Assistant                26
Office Assistant         15
Recorder Office Spec     14
Admin                    14
Supervisor                2
Asian Arts                1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [19]:
data['Hourly_Wage'] = (data['TotalPayBenefits']/50)/40
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,TotalPayBenefitsCheck,Department,Hourly_Wage
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,NaN,255.366340
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,NaN,239.826105
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,NaN,218.112180
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,NaN,209.009610
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,NaN,208.717550

In [20]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [21]:
hourly_wage_ft = data[data['Status']== 'FT']['Hourly_Wage']
mean_hourly_wage_ft = data[data['Status']== 'FT']['Hourly_Wage'].mean()
print(mean_hourly_wage_ft)

69.26420640727143

In [22]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [23]:
from scipy.stats import ttest_1samp
from scipy import stats as stats

hourly_wage_ft = data[data['Status']== 'FT']['Hourly_Wage']

t_statistic, p_value = stats.ttest_1samp(hourly_wage_ft, 75)

print("T-statistic:", t_statistic)

T-statistic: -35.80631941460526

In [24]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [25]:
lower_ct = stats.t.ppf((0.05/2),df= len(data[data['Status']=='FT']['Hourly_Wage'])-1)
upper_ct = stats.t.ppf((1-(0.05/2)),df= len(data[data['Status']=='FT']['Hourly_Wage'])-1)
print('lower_ct:', lower_ct)
print('upper_ct:', upper_ct)

lower_ct: -1.9600702128845597
upper_ct: 1.9600702128845593

In [26]:
# Method 2: Use the p-value method.
# Your code here:

In [27]:
p = stats.t.cdf(t_statistic,df= len(data[data['Status']=='FT']['Hourly_Wage'])-1 )
print(p)
p*2<0.025

2.2589156169197237e-273

True

In [28]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [29]:
stat, pval = ttest_1samp(hourly_wage_ft, 75,alternative = 'two-sided')
print(t_statistic)
print( stat, pval)

-35.80631941460526
-35.80631941460526 4.517831233839447e-273

Are all the methods in agreement?

In [30]:
#YES

We are also curious about salaries in the police force. The chief of police in San Francisco claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [31]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [32]:
salary_police = data[data['JobTitle'].str.contains('Police')]

mean_salary_police = np.mean(salary_police['TotalPayBenefits'])

std_salary_police = np.std(salary_police['TotalPayBenefits'], ddof=1)

n_salary_police = len(salary_police['TotalPayBenefits'])

mu = 86000

t_statistic = (mean_salary_police - mu) / (std_salary_police / np.sqrt(n_salary_police))

print("T-statistic:", t_statistic)

T-statistic: 50.252984742109966

In [33]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [34]:
ct = stats.t.ppf(0.05, (len(salary_police['TotalPayBenefits']-1)))
ct

-1.6456555819760406

In [35]:
# Method 2: Use the p-value method.
# Your code here:

In [36]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [37]:
from scipy.stats import ttest_1samp

null_hypothesis_value = 86000

t_statistic, p_value = ttest_1samp(salary_police['TotalPayBenefits'], null_hypothesis_value, alternative='less')

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

alpha = 0.05
if p_value < alpha:
    print("The mean of 'TotalPayBenefits' is significantly less than 86000.")
else:
    print("The mean of 'TotalPayBenefits' is not significantly less than 86000.")

T-Statistic: 50.252984742109945
P-Value: 1.0
The mean of 'TotalPayBenefits' is not significantly less than 86000.

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [38]:
# Your code here: (Get the department which has most employees)

In [39]:
department = data.groupby('JobTitle').agg({'Id':'count'}).rename(columns = {'Id':'Employees'}).idxmax()['Employees']
department

'Transit Operator'

In [40]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [41]:
hourly_wage = data[data['JobTitle'] == department]['Hourly_Wage']
t_statistic, p_value = ttest_1samp(hourly_wage, 35, alternative='greater')

print("T-Statistic:", t_statistic)
print("P-Value:", p_value)

T-Statistic: 19.064990324906383
P-Value: 5.012771694204206e-76

In [42]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [43]:
crit = stats.t.ppf((1-0.05), (len(data[data['JobTitle']==department]['Hourly_Wage'])-1))
crit

1.645468777247024

In [44]:
# Method 2: Use the p-value method.
# Your code here:

In [45]:
from scipy.stats import t

degrees_of_freedom = len(data[data['JobTitle'] == department]['Hourly_Wage']) - 1
p_value = 1 - t.cdf(t_statistic, degrees_of_freedom)

print("P-Value:", p_value)

P-Value: 0.0

In [46]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [47]:
from scipy.stats import ttest_1samp
ttest_1samp(data[data['JobTitle']==department]['Hourly_Wage'], 35, alternative = 'greater')

TtestResult(statistic=19.064990324906383, pvalue=5.012771694204206e-76, df=2478)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [48]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [49]:
confidence_level = 0.95
degrees_freedom = len(data['Hourly_Wage']) - 1
hourly_wage_mean = np.mean(data['Hourly_Wage'])
hourly_wage_sem = stats.sem(data['Hourly_Wage'])  # Standard Error of the Mean

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, hourly_wage_mean, hourly_wage_sem)

print('Hourly wage mean: {:.2f}'.format(hourly_wage_mean))
print('Confidence interval: [{:.2f}, {:.2f}]'.format(confidence_interval[0], confidence_interval[1]))

Hourly wage mean: 50.13
Confidence interval: [49.80, 50.46]

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [50]:
# Your code here:

In [51]:
confidence_level = 0.95
degrees_freedom = len(salary_police) - 1
police_hourly_wage_mean = np.mean(salary_police['Hourly_Wage'])
police_hourly_wage_sem = stats.sem(salary_police['Hourly_Wage'])

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, police_hourly_wage_mean, police_hourly_wage_sem)

print('Hourly wage mean (Police): {:.2f}'.format(police_hourly_wage_mean))
print('Confidence interval (Police): [{:.2f}, {:.2f}]'.format(confidence_interval[0], confidence_interval[1]))

Hourly wage mean (Police): 74.17
Confidence interval (Police): [72.96, 75.39]

#Â Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [52]:
def categorize_employee(job_title):
    if 'Police' in job_title:
        return 'Policemen'
    elif 'Fire' in job_title:
        return 'Firemen'
    elif 'Med' in job_title or 'Nurse' in job_title:
        return 'Medical'
    elif 'Attorney' in job_title:
        return 'Lawyer'
    else:
        return 'Other'

data['employee_group'] = data['JobTitle'].apply(categorize_employee)

display(data)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,TotalPayBenefitsCheck,Department,Hourly_Wage,employee_group
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,True,NaN,255.366340,Other
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,False,NaN,239.826105,Medical
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,True,NaN,218.112180,Other
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,False,NaN,209.009610,Policemen
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,True,NaN,208.717550,Firemen
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,True,NaN,0.000000,Other
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,True,NaN,0.000000,Other
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,True,NaN,0.000000,Other
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT,True,NaN,0.000000,Other
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT,True,NaN,-0.309065,Other

In [53]:
# Your code here: (Apply the function)

Determine how many "PT" and "FT" employess have all the employees groups.

In [54]:
# Your code here: (Store the output dataframe into a new variable)

In [55]:
cross_tab = pd.crosstab(data['employee_group'], data['Status'])
cross_tab

Status             FT     PT
employee_group
Firemen          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policemen        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [56]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
frequencies= []

In [57]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [58]:
total_sum = cross_tab.sum().sum()
firemen_ft = ((1333 + 178) / total_sum) * (cross_tab['FT'].sum() / total_sum) * total_sum

firemen_ft = round(firemen_ft, 2) 
print(firemen_ft)

885.3

In [59]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [60]:
firemen_pt = ((1333 + 178) / cross_tab.sum().sum()) * (cross_tab['PT'].sum() / cross_tab.sum().sum()) * cross_tab.sum().sum()
print(firemen_pt)

625.7020121199403

In [61]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [62]:
lawyers_ft= ((317 + 102) / total_sum) * (cross_tab['FT'].sum() / total_sum) * total_sum
print(lawyers_ft)

245.49295626852748

In [63]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [64]:
lawyers_pt= ((317 + 102) / total_sum) * (cross_tab['PT'].sum() / total_sum) * total_sum
print(lawyers_pt)

173.5070437314725

In [65]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [66]:
medical_ft= ((1028 + 2889) / total_sum) * (cross_tab['FT'].sum() / total_sum) * total_sum
print(medical_ft)

2294.9783047823917

In [67]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [68]:
medical_pt= ((1028 + 2889) / total_sum) * (cross_tab['PT'].sum() / total_sum) * total_sum
print(medical_pt)

1622.021695217608

In [69]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [70]:
other_ft= ((18128 + 12245) / total_sum) * (cross_tab['FT'].sum() / total_sum) * total_sum
print(other_ft)

17795.602770272042

In [71]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [72]:
other_pt= ((18128 + 12245) / total_sum) * (cross_tab['PT'].sum() / total_sum) * total_sum
print(other_pt)

12577.397229727956

In [73]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [74]:
policemen_ft= ((1530 + 371) / total_sum) * (cross_tab['FT'].sum() / total_sum) * total_sum
print(policemen_ft)

1113.7997848841785

In [75]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [76]:
policemen_pt= ((1530 + 371) / total_sum) * (cross_tab['PT'].sum() / total_sum) * total_sum
print(policemen_pt)

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [77]:
# Your code here:

In [78]:
frequencies = {
    'FT': [firemen_ft, policemen_ft, medical_ft, lawyers_ft, other_ft],
    'PT': [firemen_pt, policemen_pt, medical_pt, lawyers_pt, other_pt]
}

frequencies_df = pd.DataFrame(frequencies)
display(frequencies_df)

             FT            PT
0    885.300000    625.702012
1   1113.799785    787.200215
2   2294.978305   1622.021695
3    245.492956    173.507044
4  17795.602770  12577.397230

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [79]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [80]:
stats.chi2_contingency(cross_tab)

Chi2ContingencyResult(statistic=2676.642333711905, pvalue=0.0, dof=4, expected_freq=array([[  885.29798788,   625.70201212],
       [  245.49295627,   173.50704373],
       [ 2294.97830478,  1622.02169522],
       [17794.43096618, 12576.56903382],
       [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [81]:
critical = stats.chi2.ppf(0.95, 4)
critical

9.487729036781154